@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');


@import "vars";

@import "~normalize.css";
@import "~bulma";

body {
  font-family: 'Source Code Pro', monospace;
  color: #000;
}

.skinny {
  max-width: 500px;
}

h2, h3 {
  margin-bottom: 24px;
}
@media only screen and (max-width: 600px) {
  .hero-body {
    padding: 3em 2em;
  }
}

.hash:before,
h3:before {
  content: '#';
  position: absolute;
  left: -32px;
  @media only screen and (max-width: 600px) {
    left: -24px;
  }
}

.tag {
  margin-top: 12px;
  margin-bottom: 24px;
}

.mb-md {
  margin-bottom: 12px;
}
.mb-lg {
  margin-bottom: 24px;
}

.social {
  @extend .is-clearfix;
  display: inline-block;
  margin: 0 auto 24px;

  li {
    float: left;
    margin-right: 24px;
    a {
      position: relative;
      img {
        position: absolute;
        bottom: 2px;
        height: 24px;
        max-width: 42px;
      }

    }
  }
}

.project {
  &:not(:last-child) {
    margin-bottom: 72px !important;
  }

  img {
    height: 80px;
  }

  h4 {
    float:left;
  }
  .icon {
    float:right;
    margin-top: 10px;
  }
  h5 {
    @extend .is-clearfix;
    clear: both;
  }

  .stack {
    @extend .is-clearfix;
    margin-top: 24px;
    .tag {
      margin: 4px;
      float: left;
    }
  }

}



.has-background-black {
  .social {
    * {
      color: #fff;
    }
    img {
      filter: invert(1);
    }
  }
}